// looping a map and creating classes
@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }

    // Parent selector in sass
    // & is a parent selector, it will select the parent element
    .text-hover-#{$key} {
        &:hover {
            color: $val;
        }

        //&:last-child {
        //    color: $val;
        //}

        //&:nth-child(2) {
        //    color: $val;
        //}
    }

    .bg-#{$key} {
        background-color: $val;
    }

    @if ($val !=black and $val !=white) {
        // light variations with for loop

        @for $i from 1 through 9 {
            .text-#{$key}-light-#{$i * 100} {
                // using built in sass functions 
                color: mix(white, $val, $i * 10%);
            }

            .text-hover-#{$key}-light-#{$i * 100} {
                &:hover {
                    color: mix(white, $val, $i * 10%);
                }
            }

            .bg-#{$key}-light-#{$i * 100} {
                background-color: mix(white, $val, $i * 10%);
            }

            .bg-hover-#{$key}-light-#{$i * 100} {
                &:hover {
                    background-color: mix(white, $val, $i * 10%);
                }
            }
        }

        // dark variations with for loop
        @for $i from 1 through 9 {
            .text-#{$key}-dark-#{$i * 100} {
                // using built in sass functions 
                color: mix(black, $val, $i * 10%);
            }

            .text-hover-#{$key}-dark-#{$i * 100} {
                &:hover {
                    color: mix(black, $val, $i * 10%);
                }
            }

            .bg-#{$key}-dark-#{$i * 100} {
                background-color: mix(black, $val, $i * 10%);
            }

            .bg-hover-#{$key}-dark-#{$i * 100} {
                &:hover {
                    background-color: mix(black, $val, $i * 10%);
                }
            }
        }
    }

}

// conditional statements in sass
//@if (10 < 5) {
//    .test-if {
//        color: red;
//    }
//}@else {
//    .test-if-2 {
//        color: white;
//    }
//}

// nth-child, active, visited, last-child etc